.mudra {
  animation: pulse 3s infinite alternate;

  @include respond(tab-land) {
    transform: scale(.6) translate(0, 15rem);
  }

  @include respond(tab-port) {
    transform: scale(.5) translate(0, 20rem);
  }

  @include respond(phone) {
    transform: scale(.5) translate(0, 12rem);
  }

  @include respond(big-desktop) {
    transform: scale(.7) translate(0, 5rem);
  }
}
